
#top {
    background-repeat: no-repeat;
    background-size : 100% 100%;
    height: 480px;
    display: block;
    margin : 0 auto;
}

.top_cover{
    width: 100%;
    height: 480px;
}

#lion {
    background-repeat: no-repeat;
    width: 100px;
    height: auto;
    background-size: contain;
    position: fixed;
    top: 1%;
    left: 90%;
    width: 100px; 
    height:100px;
    background-image: url('Koreapas.png'); 
}

.list-group {
    border : none;
}

a.list-group-item {
    color : white;
    font-weight: bold;
    opacity: 0.8;
    
}