
<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Khyst</title>
        <!-- bootstrap4 CSS CDN 부분 -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">

        <style>
            #top {
                background-repeat: no-repeat;
                width: 100%;
                height: 488px;
                display: block;
                margin: 0 auto;
            }
        </style>

    </head>

    <body>
        {% load staticfiles %}

        <div id="lion" src="{% static 'Koreapas.png' %}" style="width:100px; height:100px"> </div>

        <main role="main">
            <div>
                <div id="top" class="center-block" style="background-image: url({% static 'kakao_top.png' %});">

                </div>
            </div>

    
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">

                        {% for portfolio in portfolios.all %}
                        
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">

                                <img class="card-img-top" src="{{ portfolio.image.url }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4> {{portfolio.title}}</h4>
                                        <p class="card-text"> {{ portfolio.description }}</p>
                                        <small class="text-muted">9 mins</small>
                                    </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    
        <footer class="text-muted">
            <div class="container">
                <p>
                <span class='col-4'> Album example is &copy; Bootstrap </span>
                <span class='col-4 text-center'> Source from <strong> KAKAO FRIENDS </strong> </span>
                <span class='col-4 text-right'> apllicated by KHYST </span>
                </p>
            </div>
        </footer>

        <!-- bootstrap4 js관련 CDN 부분 -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    </body>

</html>