<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="javascript" href="upload_js.js">
    <script src='//code.jquery.com/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js'></script>

    <title>Downloads link</title>
  </head>

    <h4> ------------------------------------------ </h4>
    <body>
      <span id="Content"><p><a href="http://khyst.co.kr/com_language.pdf" download> com_language.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/chemical_7_edit.pdf" download> chemical_7_edit.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/chemical_2_edit.pdf" download> chemical_2_edit.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/chemical_3_edit.pdf" download> chemical_3_edit.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/chemical_4_edit.pdf" download> chemical_4_edit.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/chemical_8.pdf" download> chemical_8.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/prob_7.pdf" download> prob_7.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/prob_8.pdf" download> prob_8.pdf</a></p></span>
      <span id="Content"><p><a href="http://khyst.co.kr/prob_9.pdf" download> prob_9.pdf</a></p></span>
      <div class="" id="field">
      </div>
    <h4> ------------------------------------------ </h4>

  <form id='myform' action='upload_2.php' enctype='multipart/form-data' method='post'>
  	<input type='file' name='myFile'>
  	<button>업로드</button>
  </form>

  <form class="" action="index.html" method="post">
    <button type="button" name="button">index로 돌아가기</button>
  </form>

  <pre id='result'></pre>

  </body>
</html>
