<!DOCTYPE html>
{% load staticfiles %}
<html dir="ltr">
  <head>
    <script
       src="http://code.jquery.com/jquery-3.4.1.js"
       integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
       crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css '%}">

    <!-- Naver map API -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=jr53hg6iyj"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="js/jquery.backstretch.min.js" charset="utf-8"></script>

    <!-- Vegas -->
    <link rel="stylesheet" href="js/vegas/vegas.min.css">
    <script src="js/vegas/vegas.min.js" charset="utf-8"></script>

    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <meta charset="utf-8">
    <title> Learn_BootStrap </title>

    <style>
      /*White Panel */
      .white-panel {
        text-align: center;
        background: #ffffff;
        padding-bottom: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: 20px;
      }
      .white-panel .white-header {
        background: #f3f3f3;
        padding: 3px;
        margin-bottom: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      .white-header{
        font-size: 100px !important;
        font-weight: bold;
        font-style: unset;
      }
      .white-panel .small {
        color: #ccd1d9;
        font-size: 10px;
      }
    </style>

    <!--<script type="text/javascript">
      $(function(){
        $("body").vegas({
          slides:[
          {src: "ICN_BackGround1.jpg"},
          ], delay:3500, timer:true
        })
      })
    </script>-->

  </head>

  <body>
    <div class="head" style="height:auto !important;">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expend-lg fixed-top" id="mainNav" style="padding-bottom: 2px; padding-top: 2px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" name="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Intro" area-expended="false">
              K<span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand" style="font-size:32px"> Khyst </a>
          </div>
          <div class="collapse navbar-collapse" id="Intro">
            <ul class="nav navbar-nav">
              <li class="active"> <a href="#"> 소개 </a> </li>
              <li> <a href="#"> 분야 </a> </li>
              <li> <a href="/upload_ex.html"> 다운로드 링크1 </a> </li>
              <li> <a href="/downloads.html"> 다운로드 링크2 </a> </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expended="false">
                  Story <span class="caret"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="#Learn"> Learn </a> </li>
                    <li> <a href="#Reach"> Reach </a> </li>
                    <li> <a href="#Make"> Make </a> </li>
                    <li> <a href="#Dream"> Dream </a> </li>
                  </ul>
                </a>
              </li>
            </ul>
            <form class="navbar-form navbar-left" action="index.html">
              <div class="form-group">
                <input type="text" class="form-control" name="" value="" placeholder="내용을 입력하세요.">
              </div>
              <button type="button" name="button" class="btn btn-default" onclick="alert('검색기능 구현 예정')"> 검색 </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expended="false"> Menu <span class="caret"></span> </a>
                <ul class="dropdown-menu mfp-bg" style="width:30px; z-index:3;">
                  <li> <a href="#"> Log in </a> </li>
                  <li> <a href="#"> Join us </a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!--Intro Container-->
      <div class="container" style="width : 90%;">
        <div class="jumbotron" style="padding-top:20px; padding-bottom:20px">
          <h1 class="text-center"> Hello, there? </h1>
          <p class="text-center"> My name is Yonghun, Kim. </p>
          <hr class="divider my-4">
          <table id="info_table">
            <tr>
              <td rowspan="5">
                <h3 style=""> Learning Colleage <hr> </h3>

                <img src="http://khyst.co.kr/img/crimson2positive.gif" alt="" width="100px" height="125px" style="opacity:0.7; z-index:-1">

                <img src="http://khyst.co.kr/img/kusejong_ui.png" alt="" width="100px" height="110px" style="margin: 15px 10px 15px 10px">
                <h5> ( KoreaUniversity at Sejong ) </h5>
              </td>
              <td> <p> &nbsp <span class="glyphicon glyphicon-book"> </span> </p></td>
              <td> <p> &nbsp Field  </p> </td>
              <td> <p> Computer Software Convergense </p> </td>
            </tr>
            <tr>
              <td> <p> &nbsp <span class="glyphicon glyphicon-map-marker"></span> </p> </td>
              <td> <p> &nbsp Address  </p> </td>
              <td> <p> Chungcheongnam-do cheongyang-gun </p> </td>
            </tr>
            <tr>
              <td> <p> &nbsp <span class="glyphicon glyphicon-phone"></span> </p> </td>
              <td> <p> &nbsp Phone  </p> </td>
              <td> <p> +82-10-4285-2242 </p> </td>
            </tr>

            <tr>
              <td> <p> &nbsp <span class="glyphicon glyphicon-star"></span> </p> </td>
              <td> <p> &nbsp Group </p> </td>
              <td> <p> LikeLion_KUsejong </p> </td>
            </tr>

            <tr>
              <td> <p> &nbsp <span class="fa fa-school"></span> </p> </td>
              <td> <p> &nbsp Pre_School </p> </td>
              <td> <p> Korea Digital Media Highschool </p> </td>
            </tr>
          </table>

          <div id="info_contents" class="container">
            <center>
            <div style="text-align:center; margin-bottom: 20px">
              <div class="row">
                <img src="http://khyst.co.kr/img/crimson2positive.gif" alt="" width="100px" height="125px" style="opacity:0.7; z-index:-1">
                &nbsp
                <img src="http://khyst.co.kr/img/kusejong_ui.png" alt="" width="100px" height="110px" style="margin: 15px 10px 15px 10px">
              </div>
              <div class="row">
                <h5> ( Korea University at Sejong Campus )</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <u> Field </u>
              </div>
              <div class="col-6">
                <p> Computer Science </p>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <u> Country </u>
              </div>
              <div class="col-6">
                <p> S.Korea </p>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <u> Phone Number </u>
              </div>
              <div class="col-6">
                <p> +82-10-4285-2242 </p>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <u> Group </u>
              </div>
              <div class="col-6">
                <p> Likelion_KUsejong </p>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                Colleage
              </div>
              <div class="col-6">
                <p> Colleage of Science&Techonlogy (Korea University) </p>
              </div>
            </div>
          </center>
          </div>

          <br>
          <br>

          <p class="text-center"><a href="#more" class="btn btn-primary btn-lg" role="button"> more about this </a></p>

          <p> Developing Studying </p>
          <div class="jumbotron">
            <h5 class="title"> Web </h5>
            <p class="text">HTML, CSS, JS, django, Jquery, AWS.js, API</p>
            <br>
            <h5 class="title"> Algorithm </h5>
            <p class="text">Dynamic, Divide and Conquere, recursive structure, data structre</p>
            <br>
            <h5 class="title"> System </h5>
            <p class="text">C++, C#, Python, Java</p>
          </div>

          <p> Location (NAVER Maps) </p>
          <div class="jumbotron">
            <div id="map" style="width:100%;height:400px;"></div>

            <script type="text/javascript">
              var mapOptions = {
                center : new naver.maps.LatLng(36.611144, 127.286864), zoom: 10
              };

              var map = new naver.maps.Map('map', mapOptions);

              var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(36.611144, 127.286864),
                map: map
              });

              /* var map = new naver.maps.Map('document.getElementById('map')', {
                center : new naver.maps.LatLng(37.3595704, 127.105399), zoom: 10;
              }) */

            </script>
          </div>

        </div>
      </div>
    </div>

    <!--Contents Container-->
    <div class="container-fluid" style="background-color: rgba(129,129,129,0.3); padding-bottom:20px" id="more">
      <div class="container">
        <h2> Programming Learning Progress </h2>
        <hr>
        <div style="margin-top: 30px;">
          <div class="row pt-5 mb-5">
            <div class="col-12 col-md-4 col-xl-5 offset-xl-1">
              <div class="card rounded border-0 shadow-lg  mb-5">
                <div class="card-body p-4">
                  <p> C Language </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:95%"> 95% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>

              <div class="card rounded border-0 shadow-lg mb-5">
                <div class="card-body p-4">
                  <p> Java </p>
                  <div class="progress">
                    <div class="progress-bar b" style="width:40%"> 40% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>

              <div class="card rounded border-0 shadow-lg">
                <div class="card-body p-4">
                  <p> Python </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:50%"> 50% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-xl-5 pr-xl-3 pt-md-3">
              <div class="card rounded border-0 shadow-lg  mb-5">
                <div class="card-body p-4">
                  <p> HTML/CSS </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:60%"> 60% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>

              <div class="card rounded border-0 shadow-lg mb-5">
                <div class="card-body p-4">
                  <p> Javascript/Jquery </p>
                  <div class="progress">
                    <div class="progress-bar b" style="width:20%"> 20% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>

              <div class="card rounded border-0 shadow-lg">
                <div class="card-body p-4">
                  <p> php </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:5%"> 5% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>

              <div class="card rounded border-0 shadow-lg">
                <div class="card-body p-4">
                  <p> mySQL </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:1%"> 1% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-xl-5 pr-xl-3 pt-md-3">
              <div class="card rounded border-0 shadow-lg  mb-5">
                <div class="card-body p-4">
                  <p> C# </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:0%"> 0% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>
            </div>

            <div class="col-12 col-md-4 col-xl-5 pr-xl-3 pt-md-3">
              <div class="card rounded border-0 shadow-lg  mb-5">
                <div class="card-body p-4">
                  <p> C++ </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:20%"> 20% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>

              <div class="card rounded border-0 shadow-lg mb-5">
                <div class="card-body p-4">
                  <p> R language </p>
                  <div class="progress">
                    <div class="progress-bar b" style="width:10%"> 10% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
              <br>

              <div class="card rounded border-0 shadow-lg">
                <div class="card-body p-4">
                  <p> Android </p>
                  <div class="progress">
                    <div class="progress-bar" style="width:20%"> 10% </div>
                  </div>
                  <a href="#" >more detail <span class="more-arrow">&rarr;</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row" style="padding-top:20px;">
          <div id="award" class="col-12 col-md-6 col-xl-5">
            <h2> Award </h2>
            <hr>
            <p> Korea Information Olympiad ( 2th grade ) in middle school in 2014 </p>
            <p> GTQ, Adobe Photoshop </p>
            <p> ITQ, Microsoft PowerPoint, Excel </p>
            <p> Information processing technician </p>
            <br>
          </div>

          <div id="Fdetail" class="col-12 col-md-6 col-xl-5">
            <h2> Field Details </h2>
            <hr>
            <p> Hacking Defence (HS) </p>
            <p> Computer Software </p>
            <p> Web Programming </p>
            <p> Psychology (expect: minoring in) </p>
            <p> Educations </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Change Designs -->
    <div class="container-fluid" style="background-color: rgba(128,128,127,0.2); padding-top:30px; padding-bottom: 50px;">
      <div class="container">
        <!-- 카드 layout 활용 -->
        <div class="row">
          <h2> to Study </h2>
          <hr style="height:1px; border:none;color:#333; background-color:#333;">
          <div class="col-lg-5 col-md-6">
            <div class="white-panel pn" id="reach">
              <div class="white-header">
                <h5> Developing </h5>
              </div>

              <p> Python </p>
              <p> C#, C++ </p>
              <p> Android Studio (Java) </p>
              <br>
              <br>
              <br>
            </div>
          </div>

          <div class="col-lg-5 col-lg-offset-2 col-md-6">
            <div class="white-panel pn" id="reach">
              <div class="white-header">
                <h5> Design </h5>
              </div>

              <p> Bootstrap </p>
              <p> Jquery </p>
              <p> XML </p>
              <p> Illustrator / Photoshop </p>
              <br>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <h2> to Make </h2>
          <hr style="height:1px; border:none;color:#333; background-color:#333;">
          <div class="col-lg-4 col-md-6">
            <div class="white-panel pn" id="reach">
              <div class="white-header">
                <h5> Web croller </h5>
              </div>
              <p> beautifulsoup활용 html 긁어오기 </p>
              <p> 원하는 목적에 맞춰서 html을 가공 </p>
              <p> 버스 시간표에서 도시 시간 긁어오기 </p>
              <p> 이미지 크롤링 </p>
              <p> 문서 받아서 긁어오기 (download) </p>
              <br>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="white-panel pn" id="make">
              <div class="white-header">
                <h5> my_Homepage </h5>
              </div>
              <p> (5.15) 개괄적인 디자인, 프레임 워크 완성 </p>
              <p> (5.16) 멋쟁이 사자처럼 (세종), 과제 제출 </p>
              <p> (5.26) 멋쟁이 사자처럼, 과제 제출 </p>
              <p> 게시판 추가 # 예정 </p>
              <p> 검색 기능 # 예정 </p>
              <p> 그래프 애니메이션 # 예정 </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="white-panel pn" id="voca">
              <div class="white-header">
                <h5> Application </h5>
              </div>
              <p> Android Studio 스터딩 </p>
              <p> XML, JAVA 스터딩 for app </p>
              <p> 어플리케이션 디자인 러닝 </p>
              <p> 앱개발 (만들려고 하는 아이디어) </p>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer style="color: #000001">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-sm-2" style="text-align: center;">
            <h5> Copyright &copy; 2019 </h5>
            <h5> yonghun, Kim ( 김용훈 ) </h5>
            <p> Computer Engineering </p>
            <p> Colleage Student 1 grade </p>
          </div>
          <div class="col-sm-4" style="text-align: center">
            <h5> 소개 </h5>
            <p> 고려대학교 세종캠퍼스에 재학중인 김용훈입니다, <br> 프로그래밍에 관심이 많은 개발자입니다 </p>
          </div>
          <div class="col-sm-4">
            <h4 style="text-align:center"> SNS </h4>
            <div class="list-group" id="SNS">
              <a href="#" class="list-group-item" style="background-color:#3b5998;"> <img src="http://khyst.co.kr/img/fb.png" alt="" width="20px" height="20px"> &nbsp Facebook &nbsp / &nbsp kyh9432242@naver.com  </a>
              <a href="#" class="list-group-item" style="background-color:#2DB400;"> <img src="http://khyst.co.kr/img/naver.png" alt="" width="20px" height="20px"> &nbsp Naver &nbsp / &nbsp kyh9432242@naver.com </a>
              <a href="#" class="list-group-item" style="background-color:#808080;"> <img src="http://khyst.co.kr/img/github.png" alt="" width="20px" height="20px"> &nbsp Github &nbsp / &nbsp kyh48752242@gmail.com </a>
            </div>
          </div>
          <div class="col-sm-2">
            <h4 style="text-align:center"> <span class="glyphicon glyphicon-ok"></span> &nbsp Khyst</h4>
            <ul>
              <li>
                <a href="http://sejong.korea.ac.kr" target="_blank"> Korea_University (Sejong) </a>
              </li>
              <li>
                  <a href="http://dimigo.hs.kr" target="_blank"> Korea Digital Media Highschool </a>
              </li>
              <li>
                  <a href="http://class.likelion.org" target="_blank"> Class LikeLion (Education) </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
